@using School.BLL.DTO
@model IEnumerable<SubjectDTO>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

@{
    var error = TempData["Error"] as string;
}

@if (!string.IsNullOrEmpty(error))
{
    <div class="alert alert-danger">
        @error
    </div>
}
<p class="h2">Subject</p>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var subject in Model)
            {
                <div class="col">
                    <div class="card shadow-sm h-100">
                        <div class="card-body">
                            <p class="card-text fw-bold">@subject.Name</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                                    {
                                        <a asp-controller="Subject" asp-action="Edit" asp-route-subjectId="@subject.Id"
                                           type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                                        <a asp-controller="Subject" asp-action="Delete" asp-route-subjectId="@subject.Id"
                                           onclick="return confirm('Are you sure?')" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <a asp-controller="Subject" asp-action="Create"
                           class="btn btn-lg btn-outline-secondary text-center"
                           style="display: block; padding: 8px;">
                            <div class="card-body">
                                <i class="bi bi-plus-lg" style="font-size: 2rem;"></i>
                                <p class="h2">New Subject</p>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
