@using School.BLL.DTO
@model ClassDTO

@{
    ViewData["Title"] = "Create Class";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Create class</h4>
        </p>
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"]</span>
            </div>
        }
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create" method="Post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherId" class="control-label"></label>
                        <select asp-for="TeacherId" asp-items="Model.Teachers" class="form-control">
                            <option>-- Select teacher --</option>
                        </select>
                        <span asp-validation-for="TeacherId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-outline-success float-right" type="submit" value="Save" />
                        <a class="btn btn-outline-secondary" asp-controller="Class" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>